<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
        <div class="column is-5">
            <figure class="image is-4by3">
                <img src="https://picsum.photos/800/600/?random" alt="Description">
            </figure>
        </div>
        <div class="column is-6 is-offset-1">
            <h1 class="title is-2">
               Yuk Segara Daftar, dan dapatkan cash back segera
            </h1>
            <h2 class="subtitle is-4">
                Segera pencet tombol register ya. sstt banyak promo menariknya loh!
            </h2>
            <br>
            <p class="has-text-centered">
                <a class="button is-medium is-info is-outlined">
                    Learn more
                </a>
            </p>
        </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">About Us </h1>
    <div class="content">
      <div class="columns is-mobile is-centered is-vcentered">
        <div class="column">
          <img src="https://i.imgur.com/Pyp4DwX.png" alt="">
        </div>
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget risus bibendum, vehicula quam vel, rutrum ante. Vestibulum sapien urna, maximus ut dolor ac, egestas ornare turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper sit amet enim ut porta. Donec in ex egestas, consectetur mauris et, porta turpis. Proin interdum ultricies enim, sit amet venenatis leo pulvinar sed. Etiam ullamcorper, felis a volutpat dictum, odio erat fringilla ex, nec molestie turpis lorem sit amet justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac luctus lacus. Aenean congue ex ut eros efficitur, et dapibus augue dapibus. Integer semper consequat lectus quis luctus. Pellentesque at quam quis nisi pellentesque venenatis. Aliquam in porttitor lorem, a mollis libero. Nam dignissim neque vel ante pellentesque accumsan.

Sed tempus dictum eros sit amet aliquet. Nunc libero lorem, aliquet molestie mi ut, gravida varius purus. Nullam consequat, arcu sed fringilla interdum, eros metus malesuada justo, id maximus mi nibh varius lorem. Maecenas ac felis fermentum, elementum lacus id, venenatis nulla. Praesent magna dolor, porta sit amet risus et, porta euismod leo. Ut tempor turpis a diam malesuada, a interdum lectus faucibus. Phasellus lacinia mauris nec dictum molestie. Praesent tempor nulla sit amet posuere vestibulum. Nulla sed velit sed eros tincidunt scelerisque non nec dui. Ut sed fermentum odio, in egestas justo.

Praesent laoreet fringilla dolor, sed consequat diam accumsan in. Nulla ullamcorper laoreet massa, a egestas nibh viverra sit amet. Sed auctor varius nibh, ac euismod nisi scelerisque id. Integer dignissim, sapien a dictum scelerisque, eros nulla facilisis dolor, eu commodo metus ante in nibh. Ut rhoncus, orci eu elementum euismod, libero odio mollis lorem, quis varius turpis diam nec erat. Etiam sit amet ultrices sem. In ante lorem, ornare id condimentum id, faucibus ac ipsum. Quisque eget est ligula. Nam non semper ex, nec finibus nisl. Suspendisse aliquam, velit sed porta lobortis, libero ipsum auctor eros, ac tempus dolor risus ut elit.

Pellentesque commodo lectus dolor, in malesuada turpis eleifend in. Aenean sed congue libero. Duis ultricies in nulla laoreet pulvinar. Duis mollis nulla at laoreet viverra. Aenean ultricies magna eros, nec faucibus est consectetur nec. Suspendisse id ligula semper, venenatis nulla et, fringilla orci. Donec sodales auctor blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a arcu lacus. Proin sed nisl vitae metus gravida aliquam ac a ligula. Aliquam tristique suscipit diam vel vehicula. Sed sodales neque luctus quam ullamcorper, ac porttitor urna scelerisque. In hac habitasse platea dictumst. Morbi id nisi id odio tincidunt consequat at ac ante. Aenean ullamcorper nulla ipsum, eget aliquet tortor vestibulum ac.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">Our Team </h1>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered">John Smith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered">John Smith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 has-text-centered">John Smith</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>