<nav class="navbar">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="../">
              <img src="../images/bulma.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" [ngClass]="{ 'is-active' : isActive }" (click)="Open()" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
          </span>
      </div>
      <div id="navbarMenu" class="navbar-menu" [ngClass]="{ 'is-active' : isActive }">
          <div class="navbar-end">
              <div class="tabs is-right">
                  <ul>
                      <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
                      <li routerLinkActive="is-active"  [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Register</a></li>
                      <li><a href="">Features</a></li>
                      <li><a href="">Team</a></li>
                      <li><a href="">Help</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</nav>